.NavigationItem{
    margin:10px o;
    box-sizing: border-box;
    display: block;
    width: 100%;
  
}
.NavigationItem a {
    color:rgb(239, 239, 239);
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display:block;
    padding: 5px 0;
}

.Log-in{
    border: 1px solid rgb(2, 103, 100);
    border-radius: 30%;
    background-color: black;

  }
.Sign-up{
    border: 1px solid rgb(2, 103, 100);
    border-radius: 30%;
}
@media (min-width :500px){
    .NavigationItem{
        margin: 10px ;
        display: flex;
        height: 50%;
        width: auto;
        align-items: center;
    }
    .NavigationItem a {
        color: black;
        height: 100%;
        padding: 8px 10px;
        border-bottom: 4px solid transparent;   
  
    }

}
